body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 500px;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 10px;
    border: 2px solid #333;
    padding: 10px;
}

.item {
    flex-grow: 1;
    flex-basis: 150px;
    flex-shrink: 0;
    flex: 1;
    align-self: flex-end;
    background-color: lightblue;
    border: 1px solid #000;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}